body {
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
}

hr {
  background: #515858;
  height: 1px;
  border: 0;
}

#BackToTopButton {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#BackToTopButton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#BackToTopButton:hover {
  cursor: pointer;
  background-color: #333;
}
#BackToTopButton:active {
  background-color: #555;
}
#BackToTopButton.show {
  opacity: 1;
  visibility: visible;
}
